<footer class="footer wood">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item"><img style="height: 65px;" src="/assets/images/logo-2.png" alt="Logo"><p class="title is-4 has-text-black">Backgrounds and Bourbon</p></div>
      </div>
      <div class="level-right"><a class="level-item" href="/">Home</a><a class="level-item" href="#">Photography</a><a class="level-item" href="/travels/">Travels</a><a class="level-item" href="/goods/">Goods</a></div>
    </div>
    <hr>
    <div class="columns">
      <div class="column">
        <!-- <div class="buttons"><a class="button" href="#"><img src="placeholder/icons/twitter.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/facebook-f.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/instagram.svg" alt=""></a></div> -->
      </div>
      <div class="column has-text-centered has-text-right-tablet">
        <p class="subtitle is-6 has-text-black">© 2021 Backroads and Bourbon. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
