<!-- START NAV -->
<nav class="navbar is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://i.pinimg.com/originals/02/f2/71/02f2712b74b0078cb8590a30f0a6426e.jpg" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
            <span></span>
            <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active">
                        Home
                    </a>
                <a class="navbar-item">
                        Blog
                    </a>
                <a class="navbar-item">
                        Photography
                    </a>
                <a class="navbar-item">
                        Travel stories
                    </a>
                <a class="navbar-item">
                      Distilleries Visited
                    </a>
                <a class="navbar-item">
                      Goods
                    </a>

            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->
