---
layout: default
---
<section class="hero is-medium is-bold" style="background-image: url({{ page.image }}); height: 34vh;">
</section>
<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <div class="column is-8 is-offset-2">
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <h1 class="title is-1">{{ page.title }}</h1>
            </div>
          </div>
          <div class="content article-body post">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
</div>
